{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 80,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^src/(.*)$",
    "^(.*)/(?!generated)(.*)/(.*)$",
    "^(.*)/generated/(.*)$",
    "^[./]"
  ]
}
